body {
	text-align:center;
	margin: 0px;
}


#top-bar {
	font-size: 35px;
	color: #e0e0e0;
	box-shadow:0 3px 8px #808080;
	background-color: #4d4d4c;
	position:absolute;
	width:100%;
	-webkit-box-shadow:0 3px 8px #808080;
	-moz-box-shadow:0 3px 8px #808080;
	-ms-box-shadow:0 3px 8px #808080;
	-o-box-shadow:0 3px 8px #808080;
	box-shadow:0 3px 8px #808080;
}

#code-input-box {
	width: 600px;
	height: 500px;
	font-size:20px;
	padding:2px;
	color:#808080;
	outline:none;
	backgroud:transparent;
	border:1px solid #d9d9d9;
	border-top:1px solid #c0c0c0;
	-moz-border-radius:1px;-webkit-border-radius:1px;border-radius:1px;
}

#code-run-button {
	width:180px;
	height:50px;
	font-size: 20px;
	color:#404040;
	border:2px solid #808080;
}

#code-input-box:hover {
	border:1px solid #808080;
	-webkit-box-shadow:0 3px 5px #808080;
	-moz-box-shadow:0 0px 5px #808080;
	-ms-box-shadow:0 0px 5px #808080;
	-o-box-shadow:0 0px 5px #808080;
	box-shadow: 0 0px 5px #808080;
}

#code-input-box:focus {
	border:1px solid #4d90fe;
	-webkit-box-shadow:0 3px 8px #4d90fe;
	-moz-box-shadow:0 0px 8px #4d90fe;
	-ms-box-shadow:0 0px 8px #4d90fe;
	-o-box-shadow:0 0px 8px #4d90fe;
	box-shadow: 0 0px 8px #4d90fe;
}

#code-run-button:hover {
	border:2px solid #4d90fe;
	-webkit-box-shadow:0 3px 8px #4d90fe;
	-moz-box-shadow:0 0px 8px #4d90fe;
	-ms-box-shadow:0 0px 8px #4d90fe;
	-o-box-shadow:0 0px 8px #4d90fe;
	box-shadow: 0 0px 8px #4d90fe;
}

#centre-wrapper {
	margin-right: auto;
	margin-left: auto;
	position: relative;
	background-color: #ffdf81;
	border:2px dashed #a6801c;
	-webkit-box-shadow:0 3px 8px #808080;
	-moz-box-shadow:0 3px 8px #808080;
	-ms-box-shadow:0 3px 8px #808080;
	-o-box-shadow:0 3px 8px #808080;
	box-shadow:0 3px 8px #808080;
}

